@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  /* display:grid; */
  /* grid-template-columns: min-content 1fr; */
  font-family: 'Poppins', sans-serif;
}
.container-one {
  height: 100vh;
  width: 100%;
  background-image: url("img/background.png");
  background-position: right;
  background-size: 100%;
  background-repeat: no-repeat;
  /* padding: left 5%; */
  padding-right: 5%;
  box-sizing: border-box;
  position: relative;
}
.navbar {
  width: 200px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  padding-top: 5%;
  right: 60px;
  z-index: 1;
}
.logo {
  width: 100px;
  cursor: pointer;
}
.menu {
  width: 100px;
  cursor: pointer;
  /* position:sticky; */
  margin-right: 5%;
}
.sideNav {
  flex: 1;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #F9E9ED;
}
a:link, a:visited {
  background-color: none;
  color: #5D66D3;
  padding: 0px 20px 0px 0px;
  text-align: left;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  display: inline-block;
}
a:hover {
  background-color: none;
  color: black;
  font-size: 150%;
}
a:active {
  background-color: none;
  color: black;
}
.content {
  padding-left: 10%;
  padding-top: 5%;
  list-style: none;
  /* margin-top: 10%; */
  /* padding-left: 50px; */
}
.contenta {
  padding-top: 5%;
  list-style: none;
  /* margin-top: 10%; */
  /* padding-left: 50px; */
}
.purpose-block {
  margin-top: 0px;
}
.content h1 {
  font-size: 30px;
  font-weight: 10px;
  margin-top: 24px;
  margin-bottom: 15px;
  color: black;
}
.content p {
  font-size: 14px;
  font: weight 100px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: grey;
}
.contenta h1 {
  font-size: 30px;
  font-weight: 10px;
  margin-top: 24px;
  margin-bottom: 15px;
  text-align: right 600px;
  color: black;
}
.contenta p {
  font-size: 14px;
  font: weight 100px;
  margin-top: 15px;
  margin-bottom: 15px;
  float: left;
    margin-left: 66%;
  color: grey;
}

.content .btn {
  display: inline-block;
  border: 2px solid #F67C92;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 50px;
}
.button {
  border: 2px solid #f67c92;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: black;
  background-color: white;
}
.pink-square-icon {
  width: 2%;
}
.double-line-icon {
  width: 4%;
}
.sidebar {
  position: fixed;
  top: 23em;
  height: 100vh;
  z-index: 1;
}
.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar li {
  padding: 0.5em;
}
.social-icons {
  width: 70%;
  cursor: pointer;
  /* z-index: 2; */
}
.container-two {
  height: 100vh;
  width: 100%;
  background-image: url(img/about.png);
  /* background-position: center; */
  background-size: 50%;
  background-repeat: no-repeat;
  /* padding: left 5%; */
  padding-right: 5%;
  box-sizing: border-box;
  position: relative;
}
.about-block {
  text-align: right;
}
.quote {
  font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  text-align: right;
  font-weight: 800;
  font-style: oblique;
  font-size: 22px;
}
.quote-attribution {
  text-align: right;
  font-weight: 600;
  font-style: oblique;
  font-size: 20px;
  color: grey;
}
.grid-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding-top: 200px;
  padding-bottom: 50px;
}
.grid-container2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  grid-template-columns: auto auto auto;
  gap: 50px;
  padding-top: 10px;
  padding-bottom: 100px;
}
.grid-container > div {
  border: none;
  text-align: center;
  width: 350px;
  
}
.grid-icons {
  width: 30%;
}
.container-three {
  height: 100vh;
  width: 100%;
  background-image: url(img/course.png);
  background-position: right;
  background-size: 50%;
  background-repeat: no-repeat;
  /* padding: left 5%; */
  padding-right: 5%;
  box-sizing: border-box;
  position: relative;
}
.courses-block {
  padding-top: 200px;
  text-align: left;
}
.container-four {
  height: 100vh;
  width: 100%;
  background-image: url(img/limitless-learning.png);
  /* background-position: center; */
  background-size: 50%;
  background-repeat: no-repeat;
  /* padding: left 5%; */
  padding-right: 5%;
  box-sizing: border-box;
  position: relative;
}
.limitless-learning-block {
  text-align: right;
}
.container-five {
  height: 100vh;
  width: 100%;
  background-image: url(img/contact.png);
  background-position: right;
  background-size: 50%;
  background-repeat: no-repeat;
  /* padding: left 5%; */
  padding-right: 5%;
  box-sizing: border-box;
  position: relative;
}
.text-block5 {
  position: absolute;
  color: black;
  right: 500px;
  padding-right: 0px;
  width: 600px;
}
.sign-up {
  text-align: left
}
.button2 {
  border: 2px solid #F67C92;
  line-height: 2.5;
  padding: 10px 42px 10px 42px;
  font-size: 1rem;
  text-align: center;
  color: black;
  background-color: white;
}
.button3 {
  border: 2px solid #F67C92;
  line-height: 2.5;
  padding: 10px 43px 10px 43px;
  font-size: 1rem;
  text-align: center;
  color: black;
  background-color: white;
  margin-left: 4px;
}
hr.solid {
  border-top: 1px solid #F67C92;
  margin: 10px 50px 10px 50px
}
.cmn-btn {
  border: 2px solid rgb(238, 143, 159);
  display: inline-block;
  padding: 25px 50px;
  font-size: 19px;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
}
.line {
  line-height: 8px;
}
.line-1 {
  width: 80px;
  height: 1px;
  background: #F67C92;
  display: inline-block;
}
.line-2 {
  width: 60px;
  height: 1px;
  background: #F67C92;
  display: inline-block;
}
.square {
  width: 15px;
  height: 15px;
  background: #F67C92;
  display: inline-block;
  margin: 15px 0;
}
form {
  max-width: 350px;
  margin: 30px 0 0 0;
}
form input {
  width: 100%;
  padding: 12px 10px;
  margin-bottom: 5px;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  border: 2px solid #FAB3C4;
}
.btn-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn-box button {
  flex-basis: 48%;
  padding: 18px 0;
}
/* <span class="square"></span> */
/* ----Footer---- */
#footer {
  padding: 10px 50px 30px;
}
.footer-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-left-col {
  flex-basis: 50%;
  margin-top: 60px;
}
.footer-right-col {
  flex-basis: 35%;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.link-title h4 {
  color: #fab3c4;
  margin-bottom: 20px;
}
.link-title small {
  font-size: 13px;
  color: #777;
}
.footer-info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-logo img {
  width: 50%;
}
.footer-logo button {
  padding: 12px 38px;
  margin-top: 20px;
  font-size: 10px;
}
.copyright-text, .footer-logo {
  flex-basis: 40%;

}